name: Sync Upstream
on:
  schedule:
    - cron: '0 0 * * *' # Runs daily at midnight
  workflow_dispatch: # Allows manual trigger

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout target branch
        uses: actions/checkout@v4
        with:
          ref: main # Ensure this matches your branch name (main or master)
          fetch-depth: 0 # Fetches all history so Git recognizes the upstream

      - name: Sync with Upstream
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git remote add upstream https://github.com/consumet/consumet-api.git
          git fetch upstream
          # Use --allow-unrelated-histories to force the merge
          git merge upstream/main --allow-unrelated-histories -m "Syncing with upstream" || git merge upstream/master --allow-unrelated-histories -m "Syncing with upstream"
          git push origin main
